<table class="table">
    <thead>
        
        <th>Title</th>
        <th>Link</th>
        <th>Price</th>
        <th>Origin</th>

    </thead>
    <tbody>
        <ng-container *ngFor="let game of games">
        <tr> 
    
            <td>{{game.title}}</td>
            <td>{{game.link}}</td>
            <td>{{game.price}}</td>
            <td>{{game.origen}}</td>
            
        </tr>
        </ng-container>
        <tr *ngIf="!games  || games.length==0">
            <td colspan="4"> No hay juegos </td>
        </tr>
    </tbody>
</table>